@mixin tag {
    font-family: 'Arial', sans-serif;
    display: flex;
    align-items: center;
    color: $second-color;
    background-color: $color-primary;
} 
@mixin box {
    box-shadow: 1px 1px 5px 1px #E0E0E0;
    width: 280px; 
    height: 350px;
    font-size: 1.5em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: flex-end; /* a revoir si changemtn de taille pour le mot menu */
} 
@mixin boxmenus {
    box-shadow: 1px 1px 5px 1px #E0E0E0;
    max-width: 550px;
    height: 760px;
    padding: 15px 15px 15px 15px;
    margin: auto;
    text-align: center;
}
@mixin formstyle {
    transform: scale(1);
    transition: transform 400ms;
    &:hover {
        transform: scale(1.15);
    }
}
@mixin formline {
    background-color: red;
    height: 20px;
    width: 170px;
}