@font-face {
    font-family: 'KaushanScript-Regular';
    src: url('../../font/KaushanScript-Regular.eot');
    src: url('../../font/KaushanScript-Regular.eot?#iefix') format('embedded-opentype'),
        url('../../font/KaushanScript-Regular.woff2') format('woff2'),
        url('../../font/KaushanScript-Regular.woff') format('woff'),
        url('../../font/KaushanScript-Regular.ttf') format('truetype'),
        url('../../font/KaushanScript-Regular.svg#KaushanScript-Regular') format('svg');
} 
@font-face {
    font-family: 'VTClettererpro-webfont';
    src: url('../../font/VTClettererpro-webfont.eot');
    src: url('../../font/VTClettererpro-webfont.eot?#iefix') format('embedded-opentype'),
        url('../../font/VTClettererpro-webfont.woff2') format('woff2'),
        url('../../font/VTClettererpro-webfont.woff') format('woff'),
        url('../../font/VTClettererpro-webfont.ttf') format('truetype'),
        url('../../font/VTClettererpro-webfont.svg#VTClettererpro-webfont') format('svg');
} 