$color-primary: rgb(87,156,135);
$second-color: rgb(253,203,70);
$darkpink: #F48FB1;
$pink: #E1BEE7; 
$blue: #80DEEA;
$white: #EEEEEE; 
$color-menu2-orange: rgb(198,116,18); 
$color-menu2-violet: rgb(165,103,153);
$color-menu2-blue: rgb(110,76,204);
$color-menu3-darkblue: #3949AB;
$color-menu3-blue:#5C6BC0;
$color-menu3-lightblue:#29B6F6;
$color-menu4-darkgreen:#388E3C;
$color-menu4-green:#66BB6A;
$color-menu4-lightgreen:#CDDC39;

 