@import"directorie/variable";
@import"directorie/mixin"; 
@import"directorie/police";

 
body {
    border: 1px solid #EEEEEE; 
    height: 1000px;  
    width: 99%; 
}
 
.logo {
    @include tag;
    justify-content: center;
    height: 110px;
    margin-top: 0px;
    font-size: 3em;  
} 

a {
    text-decoration: none;
}
  
.menu {
        display: flex;
        justify-content: space-around;
        text-align: center;
        margin-bottom: 20px;
            &--enchante{
                background-color: $darkpink;
                color: black;
                font-family: 'KaushanScript-Regular', sans-serif;
                @include box;
                transition:  background-color 500ms;
                &:hover {
                    background-color: lighten($pink, 5);
                }
                    & i { 
                        display: flex;
                        justify-content: center;
                    }
            } 
            &--français {
                background-color: $pink;
                font-family: 'Montserrat-Regular', sans-serif;
                margin-left: 20px;
                @include box;
                transition: background-color 500ms;
                &:hover {
                    background-color: lighten($pink, 5);
                }
            }
            &--papille {
                background-color: $blue; 
                font-family: 'GoudyStM', sans-serif;
                @include box;
                color: #1976D2;
                transition: background-color 500ms;
                &:hover {
                    background-color: lighten($blue, 10);
                }
            }
            &--gout {
                background-color: $white;
                margin-left: 20px;
                font-family: 'VTClettererpro-webfont', sans-serif; 
                @include box;
                transition: background-color 500ms;
                &:hover {
                    background-color: lighten($white, 10); 
                }
            }
} 

nav .bigger { 
    @include formstyle; 
}

footer {  
    text-align: center;
    position: fixed; 
    bottom: 0px;
    width: 99%;
}

.foot {
    @include tag;
    justify-content: center;
    max-width: 250px;
    max-height: 40px;
    margin: auto;
    font-size: 1.5em;
    border-radius: 10px;
    &__point:after {
        /*overflow: hidden;
        display: inline-block;
        vertical-align: bottom;
        -webkit-animation: ellipsis steps(4,end) 900ms infinite; 
        animation: ellipsis steps(4,end) 900ms infinite;    
        content: "\2026";
        width: 0px; (code de rapprochement pour les points de suspension*/
    }
        &__mention {
            max-height: 50px;
            font-size: 1.3em;
            margin-top: 30px; 
            @include tag;
            justify-content: space-around;
            & p  {
                color: $second-color;
                &:hover {
                animation: shake 1s; 
                }
            }
        }
    }

/*@keyframes ellipsis {
  to {
    width: 1.25em;    
  }
}

@-webkit-keyframes ellipsis {
  to {
    width: 1.25em;    
  }
}*/


@keyframes shake {
  0% { transform: translate(1px, 1px) rotate(0deg); }
  10% { transform: translate(-1px, -2px) rotate(-1deg); }
  20% { transform: translate(-3px, 0px) rotate(1deg); }
  30% { transform: translate(3px, 2px) rotate(0deg); }
  40% { transform: translate(1px, -1px) rotate(1deg); }
  50% { transform: translate(-1px, 2px) rotate(-1deg); }
  60% { transform: translate(-3px, 1px) rotate(0deg); }
  70% { transform: translate(3px, 1px) rotate(-1deg); }
  80% { transform: translate(-1px, -1px) rotate(1deg); }
  90% { transform: translate(1px, 2px) rotate(0deg); }
  100% { transform: translate(1px, -2px) rotate(-1deg); }
}

#planche1 {
    @include boxmenus;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 15px;
    padding-right: 15px;
    text-align: center;
    /* background color en couleur à opacité réduite donc rose*/
    font-family: 'KaushanScript-Regular', sans-serif;
    h1 {
        font-size: 2.5em;
    }
}

.underline {
    &:hover {
        & + .line2 {
            transform: scaleX(1);
        }
    }
}    

.line2 {
    background-color: red;
    height: 10px;
    width: 300px;
    transform: scaleX(0);
    transition: transform 1000ms;
}

#planche2 {
    @include boxmenus;
    font-family: 'Montserrat-Regular', sans-serif;
}

#planche3 {
    @include boxmenus;
    font-family: 'GoudyStM', sans-serif;
}

#planche4 {
    @include boxmenus;
    font-family:VTClettererpro-webfont, sans-serif;
}