@import"directorie/variable";
@import"directorie/mixin"; 
@import"directorie/police";
 
 
body { 
    height: 1000px;  
}

.logo {
    @include tag;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            -moz-box-pack: center;
         justify-content: center;
    height: 110px;
    margin-top: 0px;
    font-size: 3em;  
} 

a {
    text-decoration: none;
}
    
i {
    background: -webkit-linear-gradient(90deg, $color-imusic-reddark, $color-imusic-redlight);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;       
}
  
.menu {
        display: -webkit-box;
        display: -ms-flexbox;
        display: -moz-box;
        display: flex; 
        -ms-flex-pack: distribute; 
            justify-content: space-around; 
        text-align: center; 
        margin-bottom: 20px;
        @include queriesmain;
            &--enchante{ 
                background-color: $darkpink;
                color: black;
                font-family: 'KaushanScript-Regular', sans-serif;
                @include box;
                -webkit-transition:  background-color 500ms;
                -o-transition:  background-color 500ms;
                -moz-transition:  background-color 500ms;
                transition:  background-color 500ms; 
                &:hover {
                    background-color: lighten($darkpink, 10);
                }   
                    & i {    
                        display: -webkit-box;    
                        display: -ms-flexbox;    
                        display: -moz-box;    
                        display: flex; 
                        -webkit-box-pack: center; 
                            -ms-flex-pack: center; 
                                -moz-box-pack: center; 
                             justify-content: center; 
                    } 
                .txt1 {
                    font-weight: bold;
                }    
            } 
            &--francais {
                background-color: $pink;
                font-family: 'Montserrat-Regular', sans-serif;
                margin-left: 20px;
                @include box;
                @include queriesmenu;
                -webkit-transition: background-color 500ms;
                -o-transition: background-color 500ms;
                -moz-transition: background-color 500ms;
                transition: background-color 500ms;
                &:hover {
                    background-color: lighten($pink, 11);
                }
                .txt2 {
                background: -webkit-linear-gradient(0deg, $color-menu2-orange, $color-menu2-violet, $color-menu2-blue);
                    -webkit-background-clip: text;
                    -webkit-text-fill-color: transparent; 
                    &__menu2 {
                        color: $color-menu2-orange;
                        font-weight: bold;
                    }
                }
            }
            &--papille {
                background-color: $blue; 
                font-family: 'GoudyStM', sans-serif;
                @include box;
                -webkit-transition: background-color 500ms;
                -o-transition: background-color 500ms;
                -moz-transition: background-color 500ms;
                transition: background-color 500ms;
                &:hover {
                    background-color: lighten($blue, 15);
                }  
                .txt3 {
                background: -webkit-linear-gradient(0deg, $color-menu3-darkblue,$color-menu3-blue, $color-menu3-lightblue);
                    -webkit-background-clip: text;
                    -webkit-text-fill-color: transparent;                     
                    &__menu3 {
                        color: $color-menu3-darkblue;
                        font-weight: bold; 
                    }
                }
            }
            &--gout {
                background-color: $white;
                margin-left: 20px;
                font-family: 'VTClettererpro-webfont', sans-serif; 
                @include box;
                @include queriesmenu {
                    margin-bottom: 120px;
                }
                -webkit-transition: background-color 500ms;
                -o-transition: background-color 500ms;
                -moz-transition: background-color 500ms;
                transition: background-color 500ms;
                &:hover {
                    background-color: lighten($white, 10); 
                }
                .txt4 {
                background: -webkit-linear-gradient(0deg, $color-menu4-darkgreen, $color-menu4-lightgreen); 
                    -webkit-background-clip: text;
                    -webkit-text-fill-color: transparent; 
                    &__menu4 {
                        color: $color-menu4-darkgreen;
                        font-weight: bold;
                    }                        
                }
            }
} 

nav .bigger { 
        @include formstyle; 
}

footer {  
    text-align: center;
    position: fixed; 
    bottom: 0;
    left: 0;
    width: 100%;
}

.foot { /* onglet prochainement */
    @include tag;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            -moz-box-pack: center;
         justify-content: center;
    max-width: 250px;
    max-height: 40px;
    margin: auto;
    font-size: 1.5em;
    border-radius: 10px;
    &__point:after {
        overflow: hidden;
        display: inline-block;
        vertical-align: bottom;
        -webkit-animation: ellipsis steps(4,end) 900ms infinite; 
        -moz-animation: ellipsis steps(4,end) 900ms infinite; 
             animation: ellipsis steps(4,end) 900ms infinite;    
        content: "\2026";
        width: 0.1em;
    }
        &__mention { /*onglet mentions légales + Contactez-nous*/
            max-height: 50px;
            font-size: 1.3em;
            margin-top: 30px; 
            @include tag;
            -ms-flex-pack: distribute;
                justify-content: space-around;
            & p  {
                color: $second-color;
                &:hover {
                -webkit-animation: shake 1s;
                        -moz-animation: shake 1s;
                     animation: shake 1s; 
                }
            }
        }
    }

@-moz-keyframes ellipsis {
  to {
    width: 1.25em;    
  }
}

@keyframes ellipsis {
  to {
    width: 1.25em;    
  }
}

@-webkit-keyframes ellipsis {
  to {
    width: 1.25em;    
  }
} 


@-webkit-keyframes shake {
  0% { -webkit-transform: translate(1px, 1px) rotate(0deg); transform: translate(1px, 1px) rotate(0deg); }
  10% { -webkit-transform: translate(-1px, -2px) rotate(-1deg); transform: translate(-1px, -2px) rotate(-1deg); }
  20% { -webkit-transform: translate(-3px, 0px) rotate(1deg); transform: translate(-3px, 0px) rotate(1deg); }
  30% { -webkit-transform: translate(3px, 2px) rotate(0deg); transform: translate(3px, 2px) rotate(0deg); }
  40% { -webkit-transform: translate(1px, -1px) rotate(1deg); transform: translate(1px, -1px) rotate(1deg); }
  50% { -webkit-transform: translate(-1px, 2px) rotate(-1deg); transform: translate(-1px, 2px) rotate(-1deg); }
  60% { -webkit-transform: translate(-3px, 1px) rotate(0deg); transform: translate(-3px, 1px) rotate(0deg); }
  70% { -webkit-transform: translate(3px, 1px) rotate(-1deg); transform: translate(3px, 1px) rotate(-1deg); }
  80% { -webkit-transform: translate(-1px, -1px) rotate(1deg); transform: translate(-1px, -1px) rotate(1deg); }
  90% { -webkit-transform: translate(1px, 2px) rotate(0deg); transform: translate(1px, 2px) rotate(0deg); }
  100% { -webkit-transform: translate(1px, -2px) rotate(-1deg); transform: translate(1px, -2px) rotate(-1deg); }
}


@-moz-keyframes shake {
  0% { -webkit-transform: translate(1px, 1px) rotate(0deg); -moz-transform: translate(1px, 1px) rotate(0deg); transform: translate(1px, 1px) rotate(0deg); }
  10% { -webkit-transform: translate(-1px, -2px) rotate(-1deg); -moz-transform: translate(-1px, -2px) rotate(-1deg); transform: translate(-1px, -2px) rotate(-1deg); }
  20% { -webkit-transform: translate(-3px, 0px) rotate(1deg); -moz-transform: translate(-3px, 0px) rotate(1deg); transform: translate(-3px, 0px) rotate(1deg); }
  30% { -webkit-transform: translate(3px, 2px) rotate(0deg); -moz-transform: translate(3px, 2px) rotate(0deg); transform: translate(3px, 2px) rotate(0deg); }
  40% { -webkit-transform: translate(1px, -1px) rotate(1deg); -moz-transform: translate(1px, -1px) rotate(1deg); transform: translate(1px, -1px) rotate(1deg); }
  50% { -webkit-transform: translate(-1px, 2px) rotate(-1deg); -moz-transform: translate(-1px, 2px) rotate(-1deg); transform: translate(-1px, 2px) rotate(-1deg); }
  60% { -webkit-transform: translate(-3px, 1px) rotate(0deg); -moz-transform: translate(-3px, 1px) rotate(0deg); transform: translate(-3px, 1px) rotate(0deg); }
  70% { -webkit-transform: translate(3px, 1px) rotate(-1deg); -moz-transform: translate(3px, 1px) rotate(-1deg); transform: translate(3px, 1px) rotate(-1deg); }
  80% { -webkit-transform: translate(-1px, -1px) rotate(1deg); -moz-transform: translate(-1px, -1px) rotate(1deg); transform: translate(-1px, -1px) rotate(1deg); }
  90% { -webkit-transform: translate(1px, 2px) rotate(0deg); -moz-transform: translate(1px, 2px) rotate(0deg); transform: translate(1px, 2px) rotate(0deg); }
  100% { -webkit-transform: translate(1px, -2px) rotate(-1deg); -moz-transform: translate(1px, -2px) rotate(-1deg); transform: translate(1px, -2px) rotate(-1deg); }
}


@keyframes shake {
  0% { -webkit-transform: translate(1px, 1px) rotate(0deg); -moz-transform: translate(1px, 1px) rotate(0deg); transform: translate(1px, 1px) rotate(0deg); }
  10% { -webkit-transform: translate(-1px, -2px) rotate(-1deg); -moz-transform: translate(-1px, -2px) rotate(-1deg); transform: translate(-1px, -2px) rotate(-1deg); }
  20% { -webkit-transform: translate(-3px, 0px) rotate(1deg); -moz-transform: translate(-3px, 0px) rotate(1deg); transform: translate(-3px, 0px) rotate(1deg); }
  30% { -webkit-transform: translate(3px, 2px) rotate(0deg); -moz-transform: translate(3px, 2px) rotate(0deg); transform: translate(3px, 2px) rotate(0deg); }
  40% { -webkit-transform: translate(1px, -1px) rotate(1deg); -moz-transform: translate(1px, -1px) rotate(1deg); transform: translate(1px, -1px) rotate(1deg); }
  50% { -webkit-transform: translate(-1px, 2px) rotate(-1deg); -moz-transform: translate(-1px, 2px) rotate(-1deg); transform: translate(-1px, 2px) rotate(-1deg); }
  60% { -webkit-transform: translate(-3px, 1px) rotate(0deg); -moz-transform: translate(-3px, 1px) rotate(0deg); transform: translate(-3px, 1px) rotate(0deg); }
  70% { -webkit-transform: translate(3px, 1px) rotate(-1deg); -moz-transform: translate(3px, 1px) rotate(-1deg); transform: translate(3px, 1px) rotate(-1deg); }
  80% { -webkit-transform: translate(-1px, -1px) rotate(1deg); -moz-transform: translate(-1px, -1px) rotate(1deg); transform: translate(-1px, -1px) rotate(1deg); }
  90% { -webkit-transform: translate(1px, 2px) rotate(0deg); -moz-transform: translate(1px, 2px) rotate(0deg); transform: translate(1px, 2px) rotate(0deg); }
  100% { -webkit-transform: translate(1px, -2px) rotate(-1deg); -moz-transform: translate(1px, -2px) rotate(-1deg); transform: translate(1px, -2px) rotate(-1deg); }
}

.planche1 {  /* MENU 1 LA NOTE ENCHANTE*/
    @include boxmenus;
    @include queries {
        height: 1020px;
    }
    background-color: lighten($darkpink, 10);
    font-family: 'KaushanScript-Regular', sans-serif;
    h2 { 
        font-size: 2.5em;
        margin-bottom: 0px;
        & i { 
            display: -webkit-box; 
            display: -ms-flexbox; 
            display: -moz-box; 
            display: flex;      
            -webkit-box-pack: center;      
                -ms-flex-pack: center;      
                    -moz-box-pack: center;      
                 justify-content: center;  
        }   
    }   
    h4 {
        font-size: 1.5em;
    } 
    p {
        font-size: 0.93em;
    }
} 
 
.planche2 { /* MENU 2 LE CHIX A LA FRANCAISE*/
    @include boxmenus;
    background-color: lighten($pink, 11);
    font-family: 'Montserrat-Regular', sans-serif;
    h2 {
        font-size: 2em; 
        background: -webkit-linear-gradient(0deg, $color-menu2-orange, $color-menu2-violet, $color-menu2-blue);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent; 
    }
    h3 {
        font-size: 1.2em;
    }
    p {
        font-size: 0.9em;
    }
    &__color--orange {
        color: $color-menu2-orange; 
    }
    &__color--violet {
        color: $color-menu2-violet;
    }
    &__color--blue {
        color: $color-menu2-blue;
    }
}

.planche3 { /*MENU 3 LE DELICE DES PAPILLES*/
    @include boxmenus;
    background-color: lighten($blue, 15);
    font-family: 'GoudyStM', sans-serif;
    h2 {
        font-size: 2.8em;
        margin-bottom: 60px;
        margin-top: 60px;
        background: -webkit-linear-gradient(0deg, $color-menu3-darkblue,$color-menu3-blue, $color-menu3-lightblue);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent; 
    }
    h3 {
        font-size: 1.1em; 
        font-weight: normal;
    }
}  

.planche4 { /*MENU 4 LA PALETTE DU GOUT*/
    @include boxmenus;
    background-color: lighten($white, 10);
    font-family:VTClettererpro-webfont, sans-serif;
    h2 {
        font-size: 3em;
        background: -webkit-linear-gradient(0deg, $color-menu4-darkgreen, $color-menu4-lightgreen); 
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;        
    }
    h3 { 
        font-size: 1.1em;   
        font-weight: normal;   
    }
}

.planchemention { /* PAGE MENTION LEGALE */
    @include boxmenus;
    @include queries {
        height: 1000px;
    }
    background-color: lighten($color-primary, 45);
    font-family: Georgia, Verdana, Arial, sans-serif;
    h2 {
        font-size: 2.5rem;
        background: -webkit-linear-gradient(0deg, $color-primary, $second-color);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
    p { 
        text-align: justify;
        font-size: 0.9em;
        font-style: italic;
    }
}

    
.plat { /* animation bordure + disposition paragraphe menu*/
    margin-right: 15px; 
    margin-left: 15px;
    .under {
        display: -webkit-box;
        display: -ms-flexbox;
        display: -moz-box;
        display: flex;
        -webkit-box-pack: justify;
            -ms-flex-pack: justify;
                -moz-box-pack: justify;
             justify-content: space-between;
        -webkit-box-align:center;
            -ms-flex-align:center;
                -moz-box-align:center;
             align-items:center; 
        height: 50px;
        &:hover { /*Animation border MENU */
            .line1 { 
                @include line;
            }   
            .line2 {
                @include line;
            }  
        }    
    }
    .line1menu1 { 
        @include formlinemenu1; 
        -webkit-transform-origin: right; 
            -ms-transform-origin: right; 
                -moz-transform-origin: right; 
             transform-origin: right; 
    } 
    .line2menu1 {  
        @include formlinemenu1;
        -webkit-transform-origin: left;
            -ms-transform-origin: left;
                -moz-transform-origin: left;
             transform-origin: left;
    }


    .line1menu2 {
        @include formlinemenu2;
        background-color: $color-menu2-orange;
        -webkit-transform-origin: right;
            -ms-transform-origin: right;
                -moz-transform-origin: right;
             transform-origin: right;
        &_1 {
            @include formlinemenu2;
            background-color: $color-menu2-violet;
            -webkit-transform-origin: right;
                -ms-transform-origin: right;
                    -moz-transform-origin: right;
                 transform-origin: right;
        }
        &__1 {
            @include formlinemenu2;
            background-color: $color-menu2-blue;
            -webkit-transform-origin: right;
                -ms-transform-origin: right;
                    -moz-transform-origin: right;
                 transform-origin: right;
        } 
    } 
    .line2menu2 {
        @include formlinemenu2;
        background-color: $color-menu2-orange;
        -webkit-transform-origin: left;
            -ms-transform-origin: left;
                -moz-transform-origin: left;
             transform-origin: left;
        &_2 {
            @include formlinemenu2;
            background-color: $color-menu2-violet;
            -webkit-transform-origin: left;
                -ms-transform-origin: left;
                    -moz-transform-origin: left;
                 transform-origin: left;
        }
        &__2 {
            @include formlinemenu2;
            background-color: $color-menu2-blue;
            -webkit-transform-origin: left;
                -ms-transform-origin: left;
                    -moz-transform-origin: left;
                 transform-origin: left; 
        }
    } 

    .line1menu3 {
        @include formlinemenu3; 
        background-color: $color-menu3-darkblue;
        -webkit-transform-origin: right;
            -ms-transform-origin: right;
                -moz-transform-origin: right;
             transform-origin: right;
        &_1 {
            @include formlinemenu3;
            background-color: $color-menu3-blue;
            -webkit-transform-origin: right;
                -ms-transform-origin: right;
                    -moz-transform-origin: right;
                 transform-origin: right;
        }
        &__1 {
            @include formlinemenu3;
            background-color: $color-menu3-lightblue;
            -webkit-transform-origin: right;
                -ms-transform-origin: right;
                    -moz-transform-origin: right;
                 transform-origin: right;
        }
    }
    .line2menu3 {
        @include formlinemenu3; 
        background-color: $color-menu3-darkblue;
        -webkit-transform-origin: left;
            -ms-transform-origin: left;
                -moz-transform-origin: left;
             transform-origin: left;
        &_2 {
            @include formlinemenu3;
            background-color: $color-menu3-blue;
            -webkit-transform-origin: left;
                -ms-transform-origin: left;
                    -moz-transform-origin: left;
                 transform-origin: left;
        }
        &__2 {
            @include formlinemenu3;
            background-color: $color-menu3-lightblue;
            -webkit-transform-origin: left;
                -ms-transform-origin: left;
                    -moz-transform-origin: left;
                 transform-origin: left;
        }
    }

    .line1menu4 {
        @include formlinemenu4;
        background: -webkit-linear-gradient(0deg, $color-menu4-darkgreen, $color-menu4-lightgreen);
            -webkit-background-clip: border;
            -webkit-text-fill-color: transparent;
        -webkit-transform-origin: right;
            -ms-transform-origin: right;
                -moz-transform-origin: right;
             transform-origin: right;
    }
    .line2menu4 {
        @include formlinemenu4;
        background: -webkit-linear-gradient(180deg, $color-menu4-darkgreen, $color-menu4-lightgreen);
            -webkit-background-clip: border;
            -webkit-text-fill-color: transparent;
        -webkit-transform-origin: left;
            -ms-transform-origin: left;
                -moz-transform-origin: left;
             transform-origin: left;
    }
    .main { 
        text-align: left;
        &__euro {
            float: right;
            font-weight: bold;
        } 
    }
} 