@import"directorie/variable";
@import"directorie/mixin"; 
@import"directorie/police";
 
 
body { 
    border: 1px solid #EEEEEE; 
    height: 1000px;  
    width: auto;  
    @media all and (max-width: 1024px) {
            width: auto;
    }
}

.logo {
    @include tag;
    justify-content: center;
    height: 110px;
    margin-top: 0px;
    font-size: 3em;  
} 

a {
    text-decoration: none;
}
  
.menu {
        display: flex; 
        justify-content: space-around; 
        text-align: center; 
        margin-bottom: 20px;
            &--enchante{
                background-color: $darkpink;
                color: black;
                font-family: 'KaushanScript-Regular', sans-serif;
                @include box;
                @include queries;
                transition:  background-color 500ms; 
                &:hover {
                    background-color: lighten($darkpink, 10);
                }   
                    & i {    
                        display: flex; 
                        justify-content: center; 
                    } 
                .txt1 {
                    font-weight: bold;
                }    
            } 
            &--français {
                background-color: $pink;
                font-family: 'Montserrat-Regular', sans-serif;
                margin-left: 20px;
                @include box;
                @include queries{
                    margin-left: 0px;
                }
                transition: background-color 500ms;
                &:hover {
                    background-color: lighten($pink, 11);
                }
                .txt2 {
                background: -webkit-linear-gradient(0deg, $color-menu2-orange, $color-menu2-violet, $color-menu2-blue);
                    -webkit-background-clip: text;
                    -webkit-text-fill-color: transparent; 
                    &__menu2 {
                        color: $color-menu2-orange;
                        font-weight: bold;
                    }
                }
            }
            &--papille {
                background-color: $blue; 
                font-family: 'GoudyStM', sans-serif;
                @include box;
                @include queries;
                transition: background-color 500ms;
                &:hover {
                    background-color: lighten($blue, 15);
                }  
                .txt3 {
                background: -webkit-linear-gradient(0deg, $color-menu3-darkblue, $color-menu3-lightblue);
                    -webkit-background-clip: text;
                    -webkit-text-fill-color: transparent;                     
                    &__menu3 {
                        color: $color-menu3-darkblue;
                        font-weight: bold; 
                    }
                }
            }
            &--gout {
                background-color: $white;
                margin-left: 20px;
                font-family: 'VTClettererpro-webfont', sans-serif; 
                @include box;
                @include queries{
                    margin-left: 0px;
                }
                transition: background-color 500ms;
                &:hover {
                    background-color: lighten($white, 10); 
                }
                .txt4 {
                background: -webkit-linear-gradient(0deg, $color-menu4-darkgreen, $color-menu4-lightgreen); 
                    -webkit-background-clip: text;
                    -webkit-text-fill-color: transparent; 
                    &__menu4 {
                        color: $color-menu4-darkgreen;
                        font-weight: bold;
                    }                        
                }
            }
} 

nav .bigger { 
        @include formstyle; 
}

footer {  
    text-align: center;
    position: fixed; 
    bottom: 0;
    width: 99%;
}

.foot { /* onglet prochainement */
    @include tag;
    justify-content: center;
    max-width: 250px;
    max-height: 40px;
    margin: auto;
    font-size: 1.5em;
    border-radius: 10px;
    &__point:after {
        overflow: hidden;
        display: inline-block;
        vertical-align: bottom;
        -webkit-animation: ellipsis steps(4,end) 900ms infinite; 
        animation: ellipsis steps(4,end) 900ms infinite;    
        content: "\2026";
        width: 0.1em;
    }
        &__mention { /*onglet mentions légales + Contactez-nous*/
            max-height: 50px;
            font-size: 1.3em;
            margin-top: 30px; 
            @include tag;
            justify-content: space-around;
            & p  {
                color: $second-color;
                &:hover {
                animation: shake 1s; 
                }
            }
        }
    }

@keyframes ellipsis {
  to {
    width: 1.25em;    
  }
}

@-webkit-keyframes ellipsis {
  to {
    width: 1.25em;    
  }
}


@keyframes shake {
  0% { transform: translate(1px, 1px) rotate(0deg); }
  10% { transform: translate(-1px, -2px) rotate(-1deg); }
  20% { transform: translate(-3px, 0px) rotate(1deg); }
  30% { transform: translate(3px, 2px) rotate(0deg); }
  40% { transform: translate(1px, -1px) rotate(1deg); }
  50% { transform: translate(-1px, 2px) rotate(-1deg); }
  60% { transform: translate(-3px, 1px) rotate(0deg); }
  70% { transform: translate(3px, 1px) rotate(-1deg); }
  80% { transform: translate(-1px, -1px) rotate(1deg); }
  90% { transform: translate(1px, 2px) rotate(0deg); }
  100% { transform: translate(1px, -2px) rotate(-1deg); }
}

.planche1 {  
    @include boxmenus;
    background-color: lighten($darkpink, 10);
    /* background color en couleur à opacité réduite donc rose*/
    font-family: 'KaushanScript-Regular', sans-serif;
    h2 {
        font-size: 2.5em;
        margin-bottom: 0px;
        & i {
            display: flex;
            justify-content: center;
        }   
    } 
    h4 {
        font-size: 1.5em;
    } 
} 
 
.planche2 {
    @include boxmenus;
    background-color: lighten($pink, 11);
    font-family: 'Montserrat-Regular', sans-serif;
    h2 {
        font-size: 2em; 
        background: -webkit-linear-gradient(0deg, $color-menu2-orange, $color-menu2-violet, $color-menu2-blue);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent; 
    }
    h3 {
        font-size: 1.2em;
    }
    p {
        font-size: 0.9em;
    }
    &__color--orange {
        color: $color-menu2-orange; 
    }
    &__color--violet {
        color: $color-menu2-violet;
    }
    &__color--blue {
        color: $color-menu2-blue;
    }
}

.planche3 {
    @include boxmenus;
    background-color: lighten($blue, 15);
    font-family: 'GoudyStM', sans-serif;
    h2 {
        font-size: 2.8em;
        margin-bottom: 60px;
        margin-top: 60px;
        background: -webkit-linear-gradient(0deg, $color-menu3-darkblue, $color-menu3-lightblue);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent; 
    }
    h3 {
        font-size: 1.1em; 
        font-weight: normal;
    }
}  

.planche4 {
    @include boxmenus;
    background-color: lighten($white, 10);
    font-family:VTClettererpro-webfont, sans-serif;
    h2 {
        font-size: 3em;
        background: -webkit-linear-gradient(0deg, $color-menu4-darkgreen, $color-menu4-lightgreen); 
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;        
    }
    h3 { 
        font-size: 1.1em;   
        font-weight: normal;   
    }
}

.planchemention {
    @include boxmenus;
    background-color: lighten($color-primary, 45);
    font-family: Georgia, Verdana, Arial, sans-serif;
    h2 {
        font-size: 2.5rem;
        background: -webkit-linear-gradient(0deg, $color-primary, $second-color);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
    p { 
        text-align: justify;
        font-size: 0.9em;
        font-style: italic;
    }
}

    
.plat { /* animation bordure + disposition paragraphe menu*/
    margin-right: 15px; 
    margin-left: 15px;
    .under {
        display: flex;
        justify-content: space-between;
        align-items:center;
        &:hover {
            .line1 {
                transform: scaleX(1);
            }   
            .line2 {
                transform: scaleX(1);

            }
        }    

    }
    .line1 { 
        @include formline; 
        transform-origin: right; 
        transform: scaleX(0);
        transition: transform 1000ms;
    } 
    .line2 { 
        @include formline;
        transform-origin: left;
        transform: scaleX(0);
        transition: transform 1000ms;
    }
    .main {
        text-align: left;
        &__euro {
            float: right;
            font-weight: bold;
        } 
    }
}

