@charset "UTF-8";
@font-face {
  font-family: 'KaushanScript-Regular';
  src: url("../font/KaushanScript-Regular.eot");
  src: url("../font/KaushanScript-Regular.eot?#iefix") format("embedded-opentype"), url("../font/KaushanScript-Regular.woff2") format("woff2"), url("../font/KaushanScript-Regular.woff") format("woff"), url("../font/KaushanScript-Regular.ttf") format("truetype"), url("../font/KaushanScript-Regular.svg#KaushanScript-Regular") format("svg"); }
@font-face {
  font-family: 'VTClettererpro-webfont';
  src: url("../font/VTClettererpro-webfont.eot");
  src: url("../font/VTClettererpro-webfont.eot?#iefix") format("embedded-opentype"), url("../font/VTClettererpro-webfont.woff2") format("woff2"), url("../font/VTClettererpro-webfont.woff") format("woff"), url("../font/VTClettererpro-webfont.ttf") format("truetype"), url("../font/VTClettererpro-webfont.svg#VTClettererpro-webfont") format("svg"); }
@font-face {
  font-family: 'Montserrat-Regular';
  src: url("../font/Montserrat-Regular.eot");
  src: url("../font/Montserrat-Regular?#iefix") format("embedded-opentype"), url("../font/Montserrat-Regular.woff2") format("woff2"), url("../font/Montserrat-Regular.woff") format("woff"), url("../font/Montserrat-Regular.ttf") format("truetype"), url("../font/Montserrat-Regular.svg#Montserrat-Regular") format("svg"); }
@font-face {
  font-family: 'GoudyStM';
  src: url("../font/GoudyStM.eot");
  src: url("../font/GoudyStM?#iefix") format("embedded-opentype"), url("../font/GoudyStM.woff2") format("woff2"), url("../font/GoudyStM.woff") format("woff"), url("../font/GoudyStM.ttf") format("truetype"), url("../font/GoudyStM.svg#GoudyStM") format("svg"); }
body {
  border: 1px solid #EEEEEE;
  height: 1000px;
  width: 99%; }

.logo {
  font-family: 'Arial', sans-serif;
  display: flex;
  align-items: center;
  color: #fdcb46;
  background-color: #579c87;
  justify-content: center;
  height: 110px;
  margin-top: 0px;
  font-size: 3em; }

a {
  text-decoration: none; }

.menu {
  display: flex;
  justify-content: space-around;
  text-align: center;
  margin-bottom: 20px; }
  .menu--enchante {
    background-color: #F48FB1;
    color: black;
    font-family: 'KaushanScript-Regular', sans-serif;
    box-shadow: 1px 1px 5px 1px #E0E0E0;
    width: 280px;
    height: 350px;
    font-size: 1.5em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: flex-end;
    /* a revoir si changemtn de taille pour le mot menu */
    transition: background-color 500ms; }
    .menu--enchante:hover {
      background-color: #f9bdd1; }
    .menu--enchante i {
      display: flex;
      justify-content: center; }
  .menu--français {
    background-color: #E1BEE7;
    font-family: 'Montserrat-Regular', sans-serif;
    margin-left: 20px;
    box-shadow: 1px 1px 5px 1px #E0E0E0;
    width: 280px;
    height: 350px;
    font-size: 1.5em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: flex-end;
    /* a revoir si changemtn de taille pour le mot menu */
    transition: background-color 500ms; }
    .menu--français:hover {
      background-color: #f4e7f6; }
  .menu--papille {
    background-color: #80DEEA;
    font-family: 'GoudyStM', sans-serif;
    box-shadow: 1px 1px 5px 1px #E0E0E0;
    width: 280px;
    height: 350px;
    font-size: 1.5em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: flex-end;
    /* a revoir si changemtn de taille pour le mot menu */
    transition: background-color 500ms; }
    .menu--papille:hover {
      background-color: #c2eff5; }
  .menu--gout {
    background-color: #EEEEEE;
    margin-left: 20px;
    font-family: 'VTClettererpro-webfont', sans-serif;
    box-shadow: 1px 1px 5px 1px #E0E0E0;
    width: 280px;
    height: 350px;
    font-size: 1.5em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: flex-end;
    /* a revoir si changemtn de taille pour le mot menu */
    transition: background-color 500ms; }
    .menu--gout:hover {
      background-color: white; }

nav .bigger {
  transform: scale(1);
  transition: transform 400ms; }
  nav .bigger:hover {
    transform: scale(1.15); }

footer {
  text-align: center;
  position: fixed;
  bottom: 0px;
  width: 99%; }

.foot {
  /* onglet prochainement */
  font-family: 'Arial', sans-serif;
  display: flex;
  align-items: center;
  color: #fdcb46;
  background-color: #579c87;
  justify-content: center;
  max-width: 250px;
  max-height: 40px;
  margin: auto;
  font-size: 1.5em;
  border-radius: 10px; }
  .foot__point:after {
    /*overflow: hidden;
    display: inline-block;
    vertical-align: bottom;
    -webkit-animation: ellipsis steps(4,end) 900ms infinite; 
    animation: ellipsis steps(4,end) 900ms infinite;    
    content: "\2026";
    width: 0px; (code de rapprochement pour les points de suspension*/ }
  .foot__mention {
    /*onglet mentions légales + Contactez-nous*/
    max-height: 50px;
    font-size: 1.3em;
    margin-top: 30px;
    font-family: 'Arial', sans-serif;
    display: flex;
    align-items: center;
    color: #fdcb46;
    background-color: #579c87;
    justify-content: space-around; }
    .foot__mention p {
      color: #fdcb46; }
      .foot__mention p:hover {
        animation: shake 1s; }

/*@keyframes ellipsis {
  to {
    width: 1.25em;    
  }
}

@-webkit-keyframes ellipsis {
  to {
    width: 1.25em;    
  }
}*/
@keyframes shake {
  0% {
    transform: translate(1px, 1px) rotate(0deg); }
  10% {
    transform: translate(-1px, -2px) rotate(-1deg); }
  20% {
    transform: translate(-3px, 0px) rotate(1deg); }
  30% {
    transform: translate(3px, 2px) rotate(0deg); }
  40% {
    transform: translate(1px, -1px) rotate(1deg); }
  50% {
    transform: translate(-1px, 2px) rotate(-1deg); }
  60% {
    transform: translate(-3px, 1px) rotate(0deg); }
  70% {
    transform: translate(3px, 1px) rotate(-1deg); }
  80% {
    transform: translate(-1px, -1px) rotate(1deg); }
  90% {
    transform: translate(1px, 2px) rotate(0deg); }
  100% {
    transform: translate(1px, -2px) rotate(-1deg); } }
.planche1 {
  box-shadow: 1px 1px 5px 1px #E0E0E0;
  max-width: 550px;
  height: 760px;
  padding: 15px 15px 15px 15px;
  margin: auto;
  text-align: center;
  background-color: #f9bdd1;
  /* background color en couleur à opacité réduite donc rose*/
  font-family: 'KaushanScript-Regular', sans-serif; }
  .planche1 h2 {
    font-size: 2.5em;
    margin-bottom: 0px; }
    .planche1 h2 i {
      display: flex;
      justify-content: center; }
  .planche1 h4 {
    font-size: 1.5em; }

.planche2 {
  box-shadow: 1px 1px 5px 1px #E0E0E0;
  max-width: 550px;
  height: 760px;
  padding: 15px 15px 15px 15px;
  margin: auto;
  text-align: center;
  background-color: #f4e7f6;
  font-family: 'Montserrat-Regular', sans-serif; }
  .planche2 h2 {
    font-size: 2em;
    margin-bottom: 60px; }
  .planche2 h3 {
    font-size: 1.2em; }
  .planche2 p {
    font-size: 0.9em; }
  .planche2__color--orange {
    color: #c67412; }
  .planche2__color--violet {
    color: #a56799; }
  .planche2__color--blue {
    color: #6e4ccc; }

.planche3 {
  box-shadow: 1px 1px 5px 1px #E0E0E0;
  max-width: 550px;
  height: 760px;
  padding: 15px 15px 15px 15px;
  margin: auto;
  text-align: center;
  background-color: #c2eff5;
  font-family: 'GoudyStM', sans-serif; }
  .planche3 h2 {
    font-size: 2.8em;
    margin-bottom: 60px;
    margin-top: 60px; }
  .planche3 h3 {
    font-size: 1.1em;
    font-weight: normal; }

.planche4 {
  box-shadow: 1px 1px 5px 1px #E0E0E0;
  max-width: 550px;
  height: 760px;
  padding: 15px 15px 15px 15px;
  margin: auto;
  text-align: center;
  background-color: white;
  font-family: VTClettererpro-webfont, sans-serif; }
  .planche4 h2 {
    font-size: 3em; }
  .planche4 h3 {
    font-size: 1.1em;
    font-weight: normal; }

.planchemention {
  box-shadow: 1px 1px 5px 1px #E0E0E0;
  max-width: 550px;
  height: 760px;
  padding: 15px 15px 15px 15px;
  margin: auto;
  text-align: center;
  background-color: #e7f2ee;
  font-family: Georgia, Verdana, Arial, sans-serif; }
  .planchemention h2 {
    font-size: 2.5rem; }
  .planchemention p {
    text-align: justify; }

.plat {
  /* animation bordure + disposition paragraphe menu*/
  margin-right: 20px;
  margin-left: 20px; }
  .plat .under {
    display: flex;
    justify-content: space-between; }
    .plat .under__center:hover > .line1 {
      transform: scaleX(0); }
    .plat .under__center:hover + .line2 {
      transform: scaleX(1); }
  .plat .line1 {
    background-color: red;
    height: 20px;
    width: 170px;
    transform-origin: right;
    transform: scaleX(0);
    transition: transform 1000ms; }
  .plat .line2 {
    background-color: red;
    height: 20px;
    width: 170px;
    transform-origin: left;
    transform: scaleX(0);
    transition: transform 1000ms; }
  .plat .main {
    text-align: left; }
    .plat .main__euro {
      float: right;
      font-weight: bold; }
