@charset "UTF-8";
@font-face {
  font-family: 'KaushanScript-Regular';
  src: url("../font/KaushanScript-Regular.eot");
  src: url("../font/KaushanScript-Regular.eot?#iefix") format("embedded-opentype"), url("../font/KaushanScript-Regular.woff2") format("woff2"), url("../font/KaushanScript-Regular.woff") format("woff"), url("../font/KaushanScript-Regular.ttf") format("truetype"), url("../font/KaushanScript-Regular.svg#KaushanScript-Regular") format("svg"); }
@font-face {
  font-family: 'VTClettererpro-webfont';
  src: url("../font/VTClettererpro-webfont.eot");
  src: url("../font/VTClettererpro-webfont.eot?#iefix") format("embedded-opentype"), url("../font/VTClettererpro-webfont.woff2") format("woff2"), url("../font/VTClettererpro-webfont.woff") format("woff"), url("../font/VTClettererpro-webfont.ttf") format("truetype"), url("../font/VTClettererpro-webfont.svg#VTClettererpro-webfont") format("svg"); }
@font-face {
  font-family: 'Montserrat-Regular';
  src: url("../font/Montserrat-Regular.eot");
  src: url("../font/Montserrat-Regular?#iefix") format("embedded-opentype"), url("../font/Montserrat-Regular.woff2") format("woff2"), url("../font/Montserrat-Regular.woff") format("woff"), url("../font/Montserrat-Regular.ttf") format("truetype"), url("../font/Montserrat-Regular.svg#Montserrat-Regular") format("svg"); }
@font-face {
  font-family: 'GoudyStM';
  src: url("../font/GoudyStM.eot");
  src: url("../font/GoudyStM?#iefix") format("embedded-opentype"), url("../font/GoudyStM.woff2") format("woff2"), url("../font/GoudyStM.woff") format("woff"), url("../font/GoudyStM.ttf") format("truetype"), url("../font/GoudyStM.svg#GoudyStM") format("svg"); }
body {
  height: 1000px; }

.logo {
  font-family: 'Arial', sans-serif;
  display: flex;
  align-items: center;
  color: #fdcb46;
  background-color: #579c87;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -moz-box-pack: center;
  justify-content: center;
  height: 110px;
  margin-top: 0px;
  font-size: 3em; }

a {
  text-decoration: none; }

i {
  background: -webkit-linear-gradient(90deg, #f15a61, #f6916a);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent; }

.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: -moz-box;
  display: flex;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  text-align: center;
  margin-bottom: 20px; }
  @media all and (max-width: 700px) {
    .menu {
      display: flex;
      flex-direction: column;
      align-items: center; } }
  .menu--enchante {
    background-color: #F48FB1;
    color: black;
    font-family: 'KaushanScript-Regular', sans-serif;
    box-shadow: 1px 1px 5px 1px #E0E0E0;
    max-width: 280px;
    width: 280px;
    height: 350px;
    font-size: 1.5em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    -webkit-transition: background-color 500ms;
    -o-transition: background-color 500ms;
    -moz-transition: background-color 500ms;
    transition: background-color 500ms; }
    .menu--enchante:hover {
      background-color: #f9bdd1; }
    .menu--enchante i {
      display: -webkit-box;
      display: -ms-flexbox;
      display: -moz-box;
      display: flex;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      -moz-box-pack: center;
      justify-content: center; }
    .menu--enchante .txt1 {
      font-weight: bold; }
  .menu--francais {
    background-color: #E1BEE7;
    font-family: 'Montserrat-Regular', sans-serif;
    margin-left: 20px;
    box-shadow: 1px 1px 5px 1px #E0E0E0;
    max-width: 280px;
    width: 280px;
    height: 350px;
    font-size: 1.5em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    -webkit-transition: background-color 500ms;
    -o-transition: background-color 500ms;
    -moz-transition: background-color 500ms;
    transition: background-color 500ms; }
    @media all and (max-width: 700px) {
      .menu--francais {
        margin-top: 20px;
        margin-left: 0px; } }
    .menu--francais:hover {
      background-color: #f4e7f6; }
    .menu--francais .txt2 {
      background: -webkit-linear-gradient(0deg, #c67412, #a56799, #6e4ccc);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent; }
      .menu--francais .txt2__menu2 {
        color: #c67412;
        font-weight: bold; }
  .menu--papille {
    background-color: #80DEEA;
    font-family: 'GoudyStM', sans-serif;
    box-shadow: 1px 1px 5px 1px #E0E0E0;
    max-width: 280px;
    width: 280px;
    height: 350px;
    font-size: 1.5em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    -webkit-transition: background-color 500ms;
    -o-transition: background-color 500ms;
    -moz-transition: background-color 500ms;
    transition: background-color 500ms; }
    .menu--papille:hover {
      background-color: #c2eff5; }
    .menu--papille .txt3 {
      background: -webkit-linear-gradient(0deg, #3949AB, #1E88E5, #29B6F6);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent; }
      .menu--papille .txt3__menu3 {
        color: #3949AB;
        font-weight: bold; }
  .menu--gout {
    background-color: #EEEEEE;
    margin-left: 20px;
    font-family: 'VTClettererpro-webfont', sans-serif;
    box-shadow: 1px 1px 5px 1px #E0E0E0;
    max-width: 280px;
    width: 280px;
    height: 350px;
    font-size: 1.5em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    -webkit-transition: background-color 500ms;
    -o-transition: background-color 500ms;
    -moz-transition: background-color 500ms;
    transition: background-color 500ms; }
    @media all and (max-width: 700px) {
      .menu--gout {
        margin-top: 20px;
        margin-left: 0px;
        margin-bottom: 120px; } }
    .menu--gout:hover {
      background-color: white; }
    .menu--gout .txt4 {
      background: -webkit-linear-gradient(0deg, #388E3C, #DCE775);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent; }
      .menu--gout .txt4__menu4 {
        color: #388E3C;
        font-weight: bold; }

nav .bigger {
  transform: scale(1);
  transition: transform 400ms; }
  nav .bigger:hover {
    transform: scale(1.15); }

footer {
  text-align: center;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%; }

.foot {
  /* onglet prochainement */
  font-family: 'Arial', sans-serif;
  display: flex;
  align-items: center;
  color: #fdcb46;
  background-color: #579c87;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -moz-box-pack: center;
  justify-content: center;
  max-width: 250px;
  max-height: 40px;
  margin: auto;
  font-size: 1.5em;
  border-radius: 10px; }
  .foot__point:after {
    overflow: hidden;
    display: inline-block;
    vertical-align: bottom;
    -webkit-animation: ellipsis steps(4, end) 900ms infinite;
    -moz-animation: ellipsis steps(4, end) 900ms infinite;
    animation: ellipsis steps(4, end) 900ms infinite;
    content: "\2026";
    width: 0.1em; }
  .foot__mention {
    /*onglet mentions légales + Contactez-nous*/
    max-height: 50px;
    font-size: 1.3em;
    margin-top: 30px;
    font-family: 'Arial', sans-serif;
    display: flex;
    align-items: center;
    color: #fdcb46;
    background-color: #579c87;
    -ms-flex-pack: distribute;
    justify-content: space-around; }
    .foot__mention p {
      color: #fdcb46; }
      .foot__mention p:hover {
        -webkit-animation: shake 1s;
        -moz-animation: shake 1s;
        animation: shake 1s; }

@-moz-keyframes ellipsis {
  to {
    width: 1.25em; } }
@keyframes ellipsis {
  to {
    width: 1.25em; } }
@-webkit-keyframes ellipsis {
  to {
    width: 1.25em; } }
@-webkit-keyframes shake {
  0% {
    -webkit-transform: translate(1px, 1px) rotate(0deg);
    transform: translate(1px, 1px) rotate(0deg); }
  10% {
    -webkit-transform: translate(-1px, -2px) rotate(-1deg);
    transform: translate(-1px, -2px) rotate(-1deg); }
  20% {
    -webkit-transform: translate(-3px, 0px) rotate(1deg);
    transform: translate(-3px, 0px) rotate(1deg); }
  30% {
    -webkit-transform: translate(3px, 2px) rotate(0deg);
    transform: translate(3px, 2px) rotate(0deg); }
  40% {
    -webkit-transform: translate(1px, -1px) rotate(1deg);
    transform: translate(1px, -1px) rotate(1deg); }
  50% {
    -webkit-transform: translate(-1px, 2px) rotate(-1deg);
    transform: translate(-1px, 2px) rotate(-1deg); }
  60% {
    -webkit-transform: translate(-3px, 1px) rotate(0deg);
    transform: translate(-3px, 1px) rotate(0deg); }
  70% {
    -webkit-transform: translate(3px, 1px) rotate(-1deg);
    transform: translate(3px, 1px) rotate(-1deg); }
  80% {
    -webkit-transform: translate(-1px, -1px) rotate(1deg);
    transform: translate(-1px, -1px) rotate(1deg); }
  90% {
    -webkit-transform: translate(1px, 2px) rotate(0deg);
    transform: translate(1px, 2px) rotate(0deg); }
  100% {
    -webkit-transform: translate(1px, -2px) rotate(-1deg);
    transform: translate(1px, -2px) rotate(-1deg); } }
@-moz-keyframes shake {
  0% {
    -webkit-transform: translate(1px, 1px) rotate(0deg);
    -moz-transform: translate(1px, 1px) rotate(0deg);
    transform: translate(1px, 1px) rotate(0deg); }
  10% {
    -webkit-transform: translate(-1px, -2px) rotate(-1deg);
    -moz-transform: translate(-1px, -2px) rotate(-1deg);
    transform: translate(-1px, -2px) rotate(-1deg); }
  20% {
    -webkit-transform: translate(-3px, 0px) rotate(1deg);
    -moz-transform: translate(-3px, 0px) rotate(1deg);
    transform: translate(-3px, 0px) rotate(1deg); }
  30% {
    -webkit-transform: translate(3px, 2px) rotate(0deg);
    -moz-transform: translate(3px, 2px) rotate(0deg);
    transform: translate(3px, 2px) rotate(0deg); }
  40% {
    -webkit-transform: translate(1px, -1px) rotate(1deg);
    -moz-transform: translate(1px, -1px) rotate(1deg);
    transform: translate(1px, -1px) rotate(1deg); }
  50% {
    -webkit-transform: translate(-1px, 2px) rotate(-1deg);
    -moz-transform: translate(-1px, 2px) rotate(-1deg);
    transform: translate(-1px, 2px) rotate(-1deg); }
  60% {
    -webkit-transform: translate(-3px, 1px) rotate(0deg);
    -moz-transform: translate(-3px, 1px) rotate(0deg);
    transform: translate(-3px, 1px) rotate(0deg); }
  70% {
    -webkit-transform: translate(3px, 1px) rotate(-1deg);
    -moz-transform: translate(3px, 1px) rotate(-1deg);
    transform: translate(3px, 1px) rotate(-1deg); }
  80% {
    -webkit-transform: translate(-1px, -1px) rotate(1deg);
    -moz-transform: translate(-1px, -1px) rotate(1deg);
    transform: translate(-1px, -1px) rotate(1deg); }
  90% {
    -webkit-transform: translate(1px, 2px) rotate(0deg);
    -moz-transform: translate(1px, 2px) rotate(0deg);
    transform: translate(1px, 2px) rotate(0deg); }
  100% {
    -webkit-transform: translate(1px, -2px) rotate(-1deg);
    -moz-transform: translate(1px, -2px) rotate(-1deg);
    transform: translate(1px, -2px) rotate(-1deg); } }
@keyframes shake {
  0% {
    -webkit-transform: translate(1px, 1px) rotate(0deg);
    -moz-transform: translate(1px, 1px) rotate(0deg);
    transform: translate(1px, 1px) rotate(0deg); }
  10% {
    -webkit-transform: translate(-1px, -2px) rotate(-1deg);
    -moz-transform: translate(-1px, -2px) rotate(-1deg);
    transform: translate(-1px, -2px) rotate(-1deg); }
  20% {
    -webkit-transform: translate(-3px, 0px) rotate(1deg);
    -moz-transform: translate(-3px, 0px) rotate(1deg);
    transform: translate(-3px, 0px) rotate(1deg); }
  30% {
    -webkit-transform: translate(3px, 2px) rotate(0deg);
    -moz-transform: translate(3px, 2px) rotate(0deg);
    transform: translate(3px, 2px) rotate(0deg); }
  40% {
    -webkit-transform: translate(1px, -1px) rotate(1deg);
    -moz-transform: translate(1px, -1px) rotate(1deg);
    transform: translate(1px, -1px) rotate(1deg); }
  50% {
    -webkit-transform: translate(-1px, 2px) rotate(-1deg);
    -moz-transform: translate(-1px, 2px) rotate(-1deg);
    transform: translate(-1px, 2px) rotate(-1deg); }
  60% {
    -webkit-transform: translate(-3px, 1px) rotate(0deg);
    -moz-transform: translate(-3px, 1px) rotate(0deg);
    transform: translate(-3px, 1px) rotate(0deg); }
  70% {
    -webkit-transform: translate(3px, 1px) rotate(-1deg);
    -moz-transform: translate(3px, 1px) rotate(-1deg);
    transform: translate(3px, 1px) rotate(-1deg); }
  80% {
    -webkit-transform: translate(-1px, -1px) rotate(1deg);
    -moz-transform: translate(-1px, -1px) rotate(1deg);
    transform: translate(-1px, -1px) rotate(1deg); }
  90% {
    -webkit-transform: translate(1px, 2px) rotate(0deg);
    -moz-transform: translate(1px, 2px) rotate(0deg);
    transform: translate(1px, 2px) rotate(0deg); }
  100% {
    -webkit-transform: translate(1px, -2px) rotate(-1deg);
    -moz-transform: translate(1px, -2px) rotate(-1deg);
    transform: translate(1px, -2px) rotate(-1deg); } }
.planche1 {
  /* MENU 1 LA NOTE ENCHANTE*/
  box-shadow: 1px 1px 5px 1px #E0E0E0;
  max-width: 550px;
  height: 760px;
  padding: 15px 15px 15px 15px;
  margin: auto;
  text-align: center;
  background-color: #f9bdd1;
  font-family: 'KaushanScript-Regular', sans-serif; }
  @media all and (max-width: 480px) {
    .planche1 {
      margin-bottom: 80px;
      height: 1020px; } }
  .planche1 h2 {
    font-size: 2.5em;
    margin-bottom: 0px; }
    .planche1 h2 i {
      display: -webkit-box;
      display: -ms-flexbox;
      display: -moz-box;
      display: flex;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      -moz-box-pack: center;
      justify-content: center; }
  .planche1 h4 {
    font-size: 1.5em; }
  .planche1 p {
    font-size: 0.93em; }

.planche2 {
  /* MENU 2 LE CHIX A LA FRANCAISE*/
  box-shadow: 1px 1px 5px 1px #E0E0E0;
  max-width: 550px;
  height: 760px;
  padding: 15px 15px 15px 15px;
  margin: auto;
  text-align: center;
  background-color: #f4e7f6;
  font-family: 'Montserrat-Regular', sans-serif; }
  .planche2 h2 {
    font-size: 2em;
    background: -webkit-linear-gradient(0deg, #c67412, #a56799, #6e4ccc);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; }
  .planche2 h3 {
    font-size: 1.2em; }
  .planche2 p {
    font-size: 0.9em; }
  .planche2__color--orange {
    color: #c67412; }
  .planche2__color--violet {
    color: #a56799; }
  .planche2__color--blue {
    color: #6e4ccc; }

.planche3 {
  /*MENU 3 LE DELICE DES PAPILLES*/
  box-shadow: 1px 1px 5px 1px #E0E0E0;
  max-width: 550px;
  height: 760px;
  padding: 15px 15px 15px 15px;
  margin: auto;
  text-align: center;
  background-color: #c2eff5;
  font-family: 'GoudyStM', sans-serif; }
  .planche3 h2 {
    font-size: 2.8em;
    margin-bottom: 60px;
    margin-top: 60px;
    background: -webkit-linear-gradient(0deg, #3949AB, #1E88E5, #29B6F6);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; }
  .planche3 h3 {
    font-size: 1.1em;
    font-weight: normal; }

.planche4 {
  /*MENU 4 LA PALETTE DU GOUT*/
  box-shadow: 1px 1px 5px 1px #E0E0E0;
  max-width: 550px;
  height: 760px;
  padding: 15px 15px 15px 15px;
  margin: auto;
  text-align: center;
  background-color: white;
  font-family: VTClettererpro-webfont, sans-serif; }
  .planche4 h2 {
    font-size: 3em;
    background: -webkit-linear-gradient(0deg, #388E3C, #DCE775);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; }
  .planche4 h3 {
    font-size: 1.1em;
    font-weight: normal; }

.planchemention {
  /* PAGE MENTION LEGALE */
  box-shadow: 1px 1px 5px 1px #E0E0E0;
  max-width: 550px;
  height: 760px;
  padding: 15px 15px 15px 15px;
  margin: auto;
  text-align: center;
  background-color: #e7f2ee;
  font-family: Georgia, Verdana, Arial, sans-serif; }
  @media all and (max-width: 480px) {
    .planchemention {
      margin-bottom: 80px;
      height: 1000px; } }
  .planchemention h2 {
    font-size: 2.5rem;
    background: -webkit-linear-gradient(0deg, #579c87, #fdcb46);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; }
  .planchemention p {
    text-align: justify;
    font-size: 0.9em;
    font-style: italic; }

.plat {
  /* animation bordure + disposition paragraphe menu*/
  margin-right: 15px;
  margin-left: 15px; }
  .plat .under {
    display: -webkit-box;
    display: -ms-flexbox;
    display: -moz-box;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    -moz-box-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -moz-box-align: center;
    align-items: center;
    height: 50px; }
    .plat .under:hover {
      /*Animation border MENU */ }
      .plat .under:hover .line1 {
        -webkit-transform: scaleX(1);
        -ms-transform: scaleX(1);
        -moz-transform: scaleX(1);
        transform: scaleX(1); }
      .plat .under:hover .line2 {
        -webkit-transform: scaleX(1);
        -ms-transform: scaleX(1);
        -moz-transform: scaleX(1);
        transform: scaleX(1); }
  .plat .line1menu1 {
    height: 5px;
    transform: scaleX(0);
    transition: transform 1000ms;
    background-color: black;
    width: 160px;
    -webkit-transform-origin: right;
    -ms-transform-origin: right;
    -moz-transform-origin: right;
    transform-origin: right; }
    @media all and (max-width: 480px) {
      .plat .line1menu1 {
        width: 100px; } }
  .plat .line2menu1 {
    height: 5px;
    transform: scaleX(0);
    transition: transform 1000ms;
    background-color: black;
    width: 160px;
    -webkit-transform-origin: left;
    -ms-transform-origin: left;
    -moz-transform-origin: left;
    transform-origin: left; }
    @media all and (max-width: 480px) {
      .plat .line2menu1 {
        width: 100px; } }
  .plat .line1menu2 {
    height: 5px;
    transform: scaleX(0);
    transition: transform 1000ms;
    width: 120px;
    background-color: #c67412;
    -webkit-transform-origin: right;
    -ms-transform-origin: right;
    -moz-transform-origin: right;
    transform-origin: right; }
    .plat .line1menu2_1 {
      height: 5px;
      transform: scaleX(0);
      transition: transform 1000ms;
      width: 120px;
      background-color: #a56799;
      -webkit-transform-origin: right;
      -ms-transform-origin: right;
      -moz-transform-origin: right;
      transform-origin: right; }
    .plat .line1menu2__1 {
      height: 5px;
      transform: scaleX(0);
      transition: transform 1000ms;
      width: 120px;
      background-color: #6e4ccc;
      -webkit-transform-origin: right;
      -ms-transform-origin: right;
      -moz-transform-origin: right;
      transform-origin: right; }
  .plat .line2menu2 {
    height: 5px;
    transform: scaleX(0);
    transition: transform 1000ms;
    width: 120px;
    background-color: #c67412;
    -webkit-transform-origin: left;
    -ms-transform-origin: left;
    -moz-transform-origin: left;
    transform-origin: left; }
    .plat .line2menu2_2 {
      height: 5px;
      transform: scaleX(0);
      transition: transform 1000ms;
      width: 120px;
      background-color: #a56799;
      -webkit-transform-origin: left;
      -ms-transform-origin: left;
      -moz-transform-origin: left;
      transform-origin: left; }
    .plat .line2menu2__2 {
      height: 5px;
      transform: scaleX(0);
      transition: transform 1000ms;
      width: 120px;
      background-color: #6e4ccc;
      -webkit-transform-origin: left;
      -ms-transform-origin: left;
      -moz-transform-origin: left;
      transform-origin: left; }
  .plat .line1menu3 {
    height: 5px;
    transform: scaleX(0);
    transition: transform 1000ms;
    width: 150px;
    background-color: #3949AB;
    -webkit-transform-origin: right;
    -ms-transform-origin: right;
    -moz-transform-origin: right;
    transform-origin: right; }
    .plat .line1menu3_1 {
      height: 5px;
      transform: scaleX(0);
      transition: transform 1000ms;
      width: 150px;
      background-color: #1E88E5;
      -webkit-transform-origin: right;
      -ms-transform-origin: right;
      -moz-transform-origin: right;
      transform-origin: right; }
    .plat .line1menu3__1 {
      height: 5px;
      transform: scaleX(0);
      transition: transform 1000ms;
      width: 150px;
      background-color: #29B6F6;
      -webkit-transform-origin: right;
      -ms-transform-origin: right;
      -moz-transform-origin: right;
      transform-origin: right; }
  .plat .line2menu3 {
    height: 5px;
    transform: scaleX(0);
    transition: transform 1000ms;
    width: 150px;
    background-color: #3949AB;
    -webkit-transform-origin: left;
    -ms-transform-origin: left;
    -moz-transform-origin: left;
    transform-origin: left; }
    .plat .line2menu3_2 {
      height: 5px;
      transform: scaleX(0);
      transition: transform 1000ms;
      width: 150px;
      background-color: #1E88E5;
      -webkit-transform-origin: left;
      -ms-transform-origin: left;
      -moz-transform-origin: left;
      transform-origin: left; }
    .plat .line2menu3__2 {
      height: 5px;
      transform: scaleX(0);
      transition: transform 1000ms;
      width: 150px;
      background-color: #29B6F6;
      -webkit-transform-origin: left;
      -ms-transform-origin: left;
      -moz-transform-origin: left;
      transform-origin: left; }
  .plat .line1menu4 {
    height: 5px;
    transform: scaleX(0);
    transition: transform 1000ms;
    width: 140px;
    background: -webkit-linear-gradient(0deg, #388E3C, #DCE775);
    -webkit-background-clip: border;
    -webkit-text-fill-color: transparent;
    -webkit-transform-origin: right;
    -ms-transform-origin: right;
    -moz-transform-origin: right;
    transform-origin: right; }
    @media all and (max-width: 480px) {
      .plat .line1menu4 {
        width: 100px; } }
  .plat .line2menu4 {
    height: 5px;
    transform: scaleX(0);
    transition: transform 1000ms;
    width: 140px;
    background: -webkit-linear-gradient(180deg, #388E3C, #DCE775);
    -webkit-background-clip: border;
    -webkit-text-fill-color: transparent;
    -webkit-transform-origin: left;
    -ms-transform-origin: left;
    -moz-transform-origin: left;
    transform-origin: left; }
    @media all and (max-width: 480px) {
      .plat .line2menu4 {
        width: 100px; } }
  .plat .main {
    text-align: left; }
    .plat .main__euro {
      float: right;
      font-weight: bold; }
